@import "tailwindcss";

@theme {
  --color-first-green: #1cac1c; /* Jiji-inspired green */
  --color-primary-blue: #447cf4; /* OLX-inspired blue */
  --color-secondary-blue: #3094f8; /* Secondary blue */
}

@layer components {
  .containers {
    @apply w-[100%] mx-auto md:max-w-[764px] lg:max-w-[1300px];
  }
}
